# Start of Selection
# Ignore all files
*

# Do not ignore EMD_calculator.py and fairness_analyzer.py
!EMD_calculator.py
!fairness_analyzer.py
!README.md
!Datasets with EMD and p-value (v06).xlsx

# Ignore the .gitignore file itself
!.gitignore
# End of Selection